# Vivado build & cache files
*.jou
*.log
*.pb
*.dcp
*.rpt
*.xdc
*.xci
*.xml
*.vdi
*.bit
*.wdf
*.rpx
*.pb
*.backup.*
*.coe
*.bmj
*.mif
*.tmp
.Xil/
*/.jobs/
*/impl_1/
*/synth_1/
*.cache/
*.runs/
*.hw/
*.ip_user_files/
*.gen/
vivado.*
